<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ianshinbro.trackerbat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".trackerBatApplication"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".UI.playerListScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme.Base">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.popupScreens.AddPlayer"
            android:screenOrientation="portrait"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".UI.popupScreens.UpdatePlayer"
            android:screenOrientation="portrait"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".UI.gameOverviewScreen"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".UI.popupScreens.AddGame"
            android:screenOrientation="portrait"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".UI.popupScreens.UpdateGame"
            android:screenOrientation="portrait"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".UI.AtBatListScreen"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".UI.AtBatScreen"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".UI.popupScreens.atBatSetup"
            android:screenOrientation="portrait"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".UI.popupScreens.HitPopUp"
            android:screenOrientation="portrait"
            android:theme="@style/PopupBases" />
        <activity
            android:name=".UI.popupScreens.GameEnd"
            android:screenOrientation="portrait"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".UI.popupScreens.OutPopUp"
            android:screenOrientation="portrait"
            android:theme="@style/PopupBases"/>
    </application>

</manifest>
